
<style>
          .container {
               font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
               font-size: 14px;
               font-weight: 400;
               color: #262b33;
               background-color: #f3f3f3;
               padding: 10px 0;
               width: 100%;
          }
          .content {
               background-color: #fff;
               border-radius: 8px;
               max-width: 600px;
               width: 100%;
               margin: auto;
          }
        
          table {
               margin: 32px auto 48px;
          }
        
          h1 {
               font-size: 24px;
               font-weight: bold;
               line-height: 30px;
               margin-top: 0;
               margin-bottom: 20px;
               padding: 0 10px;
               text-align: center;
          }
        
        
          p {
               font-weight: 400;
               margin-bottom: 16px;
               line-height: 1.3;
               padding: 0 10px;
               font-size: 14px !important;
          }
          li {
               font-weight: 400;
               line-height: 1.3;
               margin-bottom: 10px;
               font-size: 14px !important;
          }
          a {
               text-decoration: none;
               color: inherit;
          }

          a.link {
                    text-decoration: underline;
                    color: #064fd4;
          }
        
          .code {
               font-size: 45px;
               text-align: center;
               letter-spacing: 10px;
               margin-bottom: revert;
          }
        
          .medias {
               max-width: 360px;
               margin: auto;
               margin-top: 20px;
               text-align: center;
          }
        
          .medias a {
               color: #777;
               margin: 0 10px;
          }
        
          .footer-links {
               text-align: center;
               max-width: 450px;
               margin: auto;
               color: #999999;
               margin-top: 20px;
          }
        
          .footer-links .separator {
               margin: 0 10px;
          }
        
          .footer-links a {
               color: #999999;
               font-size: 11px;
          }
        
          .wasili-slogan {
               font-size: 15px;
               color: #999999;
               text-align: center;
               width: 80%;
               max-width: 300px;
               margin: 20px auto;
          }
        
          .address {
               font-size: 13px;
               color: #999999;
               text-align: center;
               margin-top: 20px;
          }
        
          .app_header {
               display: block;
               text-align: center;
          }
        
          img.image_header {
               width: 100%;
               object-fit: contain;
               max-height: 115px;
               border-top-right-radius: 10px;
          }
          .invoice-main-section {
                  /* background-color: #1d9bf0; */
                  padding: 15px 20px;
                  border-radius: 10px;
                  height: 70px;
          }
          .invoice-main-section-block {
                  width: 50%;
                  border-radius: 10px;
          }
          .invoice-main-section-titlevalue {
                  color: #333;
                  margin: 0;
                  text-align: center;
          }
          .invoice-main-section-subtitle {
                  color: #333;
                  opacity: 0.5;
                  text-align: center;
                  margin: 0;
                  margin-top: 5px;
          }
          .invoice-section {
                  margin-top: 10px;
          }
          .invoice-section td {
                  background-color: #F5F5F5;
                  border-radius: 10px;
                  margin: 0;
                  padding: 10px 0;
          }
          .section-lineblock {
                  padding: 15px 0
          }
          .lineblock-title {
                  color: #333;
                  margin: 0;
                  padding: 0 10px;
                  margin-top: 10px;
          }
          .lineblock-value {
                  color: #777;
                  margin: 0;
                  font-size: 12px;
                  padding: 0 10px;
          }
          ol {
                    padding-left: 15px;
          }
        </style>
        
        <table class="container">
          <tr>
               <td class="center" width="100%">
                    <table class="content">
                         <tbody>
                              <tr>
                                   <td colspan="2">
                                        <a href="https://wasiliburundi.bi/" class="app_header">
                                             <img class="image_header" src="<%= baseUrl ? baseUrl : "https://prodev.mediabox.bi:1058" %>/images/entete.png" alt="">
                                        </a>
                                   </td>
                              </tr>
                              <tr>
                                        <td>
                                                  <p>Bonjour <%= assurance.drivers.PRENOM %>,</p>
                                                  <p><%= mailContent %></p>
                                                  <p>Cordialement,</p>
                                                  <p>Equipe Wasili</p>
                                        </td>
                              </tr>
                              <tr>
                                      <td colspan="2">
                                        <p class="wasili-slogan">
                                          <%= __('auth_riders.controller.getDataCompteoublier.automatique') %>
                                        </p>
                                        <p class="footer-links">
                                             <a href="https://wa.me/25775136136 ">
                                              <%= __('auth_riders.controller.getDataCompteoublier.conditions') %>
                                             </a>
                                             <span class="separator">•</span>
                                             <!-- <a href="https://wa.me/25775136136 "><%= __('auth_riders.controller.getDataCompteoublier.Politiques') %></a>
                                                       • -->
                                             <a href="https://wasiliburundi.bi/">
                                              <%= __('auth_riders.controller.getDataCompteoublier.Visiter') %>
                                             </a>
                                             <span class="separator">•</span>
                                             <a href="https://wa.me/25775136136 ">
                                              <%= __('auth_riders.controller.getDataCompteoublier.Aide') %>
                                             </a>
                                        </p>
                                        <p class="medias">
                                             <a href="https://twitter.com/wasili_burundi" class="media">
                                                  <img src="<%= baseUrl ? baseUrl : "https://prodev.mediabox.bi:1058" %>/images/twitter.png" alt="twitter" border="0">
                                             </a>
                                             <a href="https://www.facebook.com/wasiliburundi" class="media">
                                                  <img src="<%= baseUrl ? baseUrl : "https://prodev.mediabox.bi:1058" %>/images/facebook.png" alt="facebook" border="0">
                                             </a>
                                             <a href="https://www.instagram.com/wasiliburundi/" class="media">
                                                  <img src="<%= baseUrl ? baseUrl : "https://prodev.mediabox.bi:1058" %>/images/instagram.png" alt="instagram" border="0">
                                             </a>
                                             <a href="https://wa.me/25775136136 " class="media">
                                                  <img src="<%= baseUrl ? baseUrl : "https://prodev.mediabox.bi:1058" %>/images/whatsapp.png" alt="whatsapp" border="0">
                                             </a>
                                        </p>
                                        <a href="https://maps.app.goo.gl/GpMPtc4emVaYXQFd7">
                                             <p class="address">
                                                  Wasili burundi, <br>
                                                  64 Bouvelvard Mwezi Gisabo <br>
                                                  Q. Kiriri, Bujumbura Burundi
                                             </p>
                                        </a>
                                   </td>
                              </tr>
                              </footer>
                         </tbody>
                    </table>
               </td>
          </tr>
        </table>